@implements IDisposable

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="nav-icon-wrapper"><i class="bi bi-house-door-fill"></i></span> Home
        </NavLink>
    </li>

    <li class="nav-item">
        <NavLink class="nav-link" href="blog">
            <span class="nav-icon-wrapper"><i class="bi bi-journal-richtext"></i></span> Blog
        </NavLink>
    </li>

    <li class="nav-item">
        <NavLink class="nav-link" href="projects">
            <span class="nav-icon-wrapper"><i class="bi bi-code-square"></i></span> Projects
        </NavLink>
    </li>

    <li class="nav-item">
        <NavLink class="nav-link" href="meteo">
            <span class="nav-icon-wrapper"><i class="bi bi-cloud-sun"></i></span> Meteo
        </NavLink>
    </li> 
</ul>

<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" @onclick="ToggleDropdown" @onclick:preventDefault>
                    <span class="nav-icon-wrapper"><i class="bi bi-person-fill"></i></span> @context.User.Identity?.Name
                </a>
                <ul class="dropdown-menu dropdown-menu-end @(isDropdownOpen ? "show" : "")">
                    <li>
                        <NavLink class="dropdown-item" href="Account/Manage">
                            <span class="nav-icon-wrapper"><i class="bi bi-gear"></i></span> Manage Account
                        </NavLink>
                    </li>
                    <li>
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="dropdown-item">
                                <span class="nav-icon-wrapper"><i class="bi bi-box-arrow-left"></i></span> Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="Account/Register">
                    <span class="nav-icon-wrapper"><i class="bi bi-person-plus"></i></span> Register
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Account/Login">
                    <span class="nav-icon-wrapper"><i class="bi bi-box-arrow-in-right"></i></span> Login
                </NavLink>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? currentUrl;
    private bool isDropdownOpen = false;

    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
    }

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

